
<div *ngIf="flag === true" class="loginWrapper">
  
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login">
      <div>Print server</div>
      <div class="inputWrapper">
        <input  class="input" type="text" formControlName="cedula" required placeholder="Cedula">
        <input class="input" type="password" formControlName="clave" required placeholder="Contrasena">
      </div>
     
      <button class="button" ngif [disabled]="loginForm.invalid"  type="submit" onclick="">Ingresar </button>
  </form>
</div>


<div *ngIf="flag === false" class="loginWrapper"> 

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login">
    <div>Imprimir</div>
    <div class="inputWrapper">
      <input class="input" type="file" >
      <select name="cars"class="input" form="carform"  >
        <option value="">A100</option>
        <option value="">A200</option>
        <option value="">B100</option>
        <option value="">B200</option>
        <option value="">B300</option>
        <option value="">C100</option>
        <option value="">C200</option>
        <option value="">C300</option>
        <option value="">C400</option>
        <option value="">D100</option>
        <option value="">D200</option>
        <option value="">D300</option>
        <option value="">E100</option>
        <option value="">F100</option>
        <option value="">F200</option>
        <option value="">F201</option>
        <option value="">F202</option>
        <option value="">F300</option>
        <option value="">G100</option>
    </select>
    </div>
    <button class="button" ngif [disabled]="loginForm.invalid"  type="submit" onclick="">Imprimir</button>
</form>
</div>
<router-outlet></router-outlet>